@font-face {
    font-family: 'hochelaga_regularregular';
    src: url('fonts/hochelaga-regular.woff2') format('woff2'),
         url('fonts/hochelaga-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.header {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    }

body {
    display: block;
    font-family: 'hochelaga_regularregular';
    background-color: #febcfe;
    }

h1 {
    color: white;
    display: block;
    font-display: bold;
    font-size: 8vw;
    margin-top: 12vh;
    margin-bottom: 2vh;
    text-align: center;   
    }

    h2 {
        color: white;
        display: block;
        font-display: bold;
        font-size: 2vw;
        margin-bottom: 6vh;
        text-align: center;   
        }

.startButton {
    display: block;
    margin: 0 auto;
    margin-top: 6vh;
    width: 22vw;
    border: none;
    background-color: white;
    text-decoration: none;
    text-align: center;
    font-size: 4vw;
    color: #febcfe; 
    padding: 30px;
 }

 

#animation{
     width: 224.9px;
     height: 190px;
     margin : 0 auto;
     margin-bottom: 2vh;
     background: url('../img/sprite-smiley.png') left center;
     background-size: cover;
     animation: play 1.5s steps(5) infinite;
     display: inline-block;

 }

 @keyframes play {
     100% { background-position: -2249px; }
 }

 
 


