@font-face {
    font-family: 'hochelaga_regularregular';
    src: url('fonts/hochelaga-regular.woff2') format('woff2'),
         url('fonts/hochelaga-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
    box-sizing: border-box;
}

.header {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    }

body {
    display: block;
    font-family: 'hochelaga_regularregular';
    background-color: #febcfe;
    }

h1 {
    color: white;
    display: block;
    font-display: bold;
    font-size: 35px;
    margin-bottom: 50px;
    text-align: center;      
    }

.points{
    color: white;
    display: block;
    transform-origin: center center;
    transform: rotate(-5deg);
    margin-top: 20%;
    font-size: 80px;
}



.replayButton {
    display: inline-block;
    width: 20vw;
    border: none;
    background-color: white;
    text-decoration: none;
    text-align: center;
    font-size: 26px;
    color: #febcfe; 
    padding: 30px;
 }

 .maskButton {
    display: inline-block;
    margin-right: 30px;
    width: 15vw;
    border: none;
    background-color: white;
    text-decoration: none;
    text-align: center;
    font-size: 26px;
    color: #febcfe; 
    padding: 30px;
 }

