@font-face {
    font-family: 'hochelaga_regularregular';
    src: url('fonts/hochelaga-regular.woff2') format('woff2'),
         url('fonts/hochelaga-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
    box-sizing: border-box;
}

body {
    font-family: 'hochelaga_regularregular';
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #febcfe ;

}

canvas{
    position: fixed;    
}

.game { 
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #febcfe ;
    outline:solid 130px #fff;
    outline-offset:-130px;
}

.game video {
    position: absolute;
    display: flex;
    z-index: 0;
    top: 50%;
    left: 50%;
    width: 90vw;
    height: 78vh;
    transform-origin: center center;
    transform: translate(-50%, -50%);
    

}


/* .minismiley {
    position: relative;
    top: 50%;
    left: 30%;
    background-size: 50%, 50%;
    background-repeat: no-repeat;
} */


.bandeau{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;

}

/* .minismiley canvas{
   width: 50%;
} */

.bandeau img{
    width: 100%;
}


.mask { 
    position: absolute;
    top: 50%;
    width: 400px;
    height: 400px;
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    transition: transform 2s ease-in-out;
    transform-origin: center center;
    transform: translate(-50%, -50%);
    -webkit-transition: transform 2s ease-in-out;
}

.mask img{
    width: 100%;
}


.mask.isGreat {
    filter: drop-shadow(16px 16px 20px#febcfe);
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    
    
  
   
}

.mask.isNotBad {
    filter: drop-shadow(16px 16px 20px white) hue-rotate(60deg);
}

.score {
    display: block;
    position: fixed;
    width: fit-content;
    color: #febcfe;
    transform-origin: center center;
    font-size: 80px;
    left: 96%;
    top: 95%;
    transform: translate(-50%, -50%);
 
}




.textGreat {
    display: none;
    position: fixed;
    color: white;
    font-size: 100px;
    left: 50%;
    top: 50%;
    width: fit-content;
    transform-origin: center center;
    transform: translate(-50%, -50%) rotate(-10deg);
}

.textNotBad {
    display: none;
    position: fixed;
    color: white;
    font-size: 100px;
    left: 50%;
    top: 50%;
    width: fit-content;
    transform-origin: center center;
    transform: translate(-50%, -50%) rotate(10deg);
}

body.notBad .textNotBad {
    display: block;
}


body.great .textGreat {
    display: block;
}